<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Insurance App | Dashboard </title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/animate.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body class="top-navigation">

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                <a href="#" class="navbar-brand">App</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/" aria-expanded="false" role="button" >Admin Dashboard </a>
                    </li>
                </ul>
          <ul class="nav navbar-top-links navbar-right">
                    <li>
                            <a href="/api/calculate_insurance/"><i class="fa fa-link"></i> Access Insurance Calculator</a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">|</span>
                            <h5>Api Requests</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{ data.no_of_requests }}</h1>
                            <div class="stat-percent font-bold text-success">- <i class="fa fa-level-up"></i></div>
                            <small>Total Api Requests</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-info pull-right">|</span>
                            <h5>Api Responses</h5>
                        </div>
                        <div class="ibox-content">
                                    <h1 class="no-margins">{{ data.no_of_responses }}</h1>
                                    <div class="stat-percent font-bold text-info">- <i class="fa fa-level-up"></i></div>
                                    <small>Total Api Responses</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Total</span>
                            <h5>Insurance Premiums</h5>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="no-margins">{{ data.no_of_comprehensives }}</h1>
                                    <div class="font-bold text-navy"><i class="fa fa-level-up"></i> <small>Comprehensives</small></div>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="no-margins">{{ data.no_of_third_parties }}</h1>
                                    <div class="font-bold text-navy"><i class="fa fa-level-up"></i> <small>Third Parties</small></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Number of Insured Cars</h5>
                            <div class="ibox-tools">
                                <span class="label label-primary">Total</span>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h1 class="no-margins">{{ data.no_of_insured_cars }}</h1>
                                    <div class="font-bold text-navy"><i class="fa fa-level-up"></i> <small>Insured Cars</small></div>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div>
                                    <h3 class="font-bold no-margins">
                                        Motor Insurance Calculation API
                                    </h3>

                                </div>

                                <div class="m-t-sm">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div style="padding-top: 20px"><p>/api/</p></div>
                                            </div>
                                        <div class="col-md-8">
                                            <div>
                                            <table class="table">
                            <thead>
                            <tr>
                                <th>Link to Resource</th>
                                <th>HTTP Allow: POST</th>
                                <th>Parameters</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>/calculate_insurance/</td>
                                <td><a href="/api/calculate_insurance/">api/calculate_insurance/</a></td>
                                <td>{type, car_id}</td>
                            </tr>

                            </tbody>
                        </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="m-t-md" style="padding-top: 7px;">
                                   <br>
                                    <small>
                                       Values are calcuated in Ghana Cedis
                                    </small>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-warning pull-right">Constants</span>
                                <h5>Other Loadings</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <small class="stats-label">Additional Peril</small>
                                        <h4>GHS {{ data.additional_peril }}</h4>
                                    </div>

                                    <div class="col-xs-6">
                                        <small class="stats-label">ECOWAS Peril</small>
                                        <h4>GHS {{ data.ecowas_peril }}</h4>
                                    </div>

                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <small class="stats-label">PA Benefits</small>
                                        <h4>GHS {{ data.pa_benefits }}</h4>
                                    </div>

                                    <div class="col-xs-6">
                                        <small class="stats-label">NIC/NHIS/NRSC/ECOWAS</small>
                                        <h4>GHS {{ data.nic_nhis_ecowas }}</h4>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Latest 150 Insured Cars </h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="#">Config option 1</a>
                                        </li>
                                        <li><a href="#">Config option 2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>

                                            <th>Car Id</th>
                                            <th>Model </th>
                                            <th>Registration No </th>
                                            <th>Chasis </th>
                                            <th>Year </th>
                                            <th>Insurance Type</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for car in data.cars %}
                                        <tr>
                                            <td>{{  car.car_id }}</td>
                                            <td>{{car.car_model }}</td>
                                            <td>{{car.registration_no }}</td>
                                            <td>{{car.chassis }}</td>
                                            <td>{{car.year }}</td>
                                            <td>{{car.insurance_type }}</td>
                                            <td><a href="/car/{{  car.car_id }}"><i class="fa fa-check text-navy"></i></a></td>
                                        </tr>
                                        {% endfor %}



                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="footer">

            <div>
                <strong>Copyright</strong>  &copy; 2018
            </div>
        </div>

        </div>
        </div>



    <!-- Mainly scripts -->
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>


    <!-- Custom and plugin javascript -->
    <script src="../static/js/inspinia.js"></script>



    <script>
        $(document).ready(function() {

        });
    </script>

</body>

</html>
